#ROOM {
    position: relative;
    background-color: #357e5b;
    color: white;
    width: 100vw;
    max-width: 1200px;
    min-width: 375px;
    height: fit-content;
    min-height: 100vh;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.layout {
    width: 100%;
}

.btn {
    /*width: 300px;*/
    /*height: 60px;*/
    font-size: 24px;
    margin: 24px 0;
}

.small-btn {
    width: fit-content;
    height: fit-content;
}

.start {
    background-color: #357e5b;
    border: 2px solid white;
}

.place {
    padding: 10px;
    font-size: 22px;
    margin: 0;
}

.place-empty {
    color: white;
    border: 2px dashed white;
    width: fit-content;
    height: fit-content;
}

.place-sit {
    color: white;
    border: 0;
    width: fit-content;
    height: fit-content;
}
