#ROOM {
    position: relative;
    /*background-color: #357e5b;*/
    background-color: black;
    color: white;
    width: 100vw;
    /*max-width: 1200px;*/
    min-width: 375px;
    height: fit-content;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-image: url('../../assets/images/bg/in_door.jpg'); /* 替换 'image.jpg' 为你的背景图片的路径 */
    background-size: cover; /* 控制背景图片的尺寸，cover 表示图片会被拉伸或压缩以填充整个元素 */
    background-position: center; /* 控制背景图片的位置，center 表示图片会在元素的中心位置 */
}

#ROOM .layout {
    width: 100%;
}

#ROOM .btn {
    /*width: 300px;*/
    /*height: 60px;*/
    font-size: 24px;
    margin: 24px 0;
}

#ROOM .small-btn {
    width: fit-content;
    height: fit-content;
}

#ROOM .start {
    background-color: #357e5b;
    border: 2px solid white;
}

#ROOM .seat-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    background-color: rgba(255,255,255,0.25);
    border-radius: 15px;
    padding: 5px 10px;
}

#ROOM .place {
    padding: 10px;
    font-size: 22px;
    margin: 20px;
}

#ROOM .place-empty {
    color: white;
    border: 2px dashed white;
    width: fit-content;
    height: fit-content;
}

#ROOM .place-sit {
    color: white;
    border: 0;
    width: fit-content;
    height: fit-content;
}
