#GAMING {
    position: relative;
    background-color: #357e5b;
    color: white;
    width: 100vw;
    max-width: 1200px;
    min-width: 375px;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.layout {
    width: 100%;
}

.north .btn {
    margin: 10px;
}

.south div {
    font-size: 16px;
}

.ant-switch-checked {
    background-color: cornflowerblue !important;
}

.title {
    font-size: 20px;
    margin-top: 10px;
}

.small-btn {
    width: fit-content;
    height: fit-content;
}

.mini-btn {
    font-size: 20px;
    width: fit-content;
    height: 50px;
    border-radius: 50px;
    line-height: 10px;
}

.skill-btn {
    width: 50px;
    height: 50px;
}

.mini-btn span {
    padding: 0 !important;
}

.place {
    padding: 10px;
    margin: 0;
    flex-grow: 1;
}

.place-sit {
    border: 0;
    width: fit-content;
    height: fit-content;
}

.info-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    overflow-y: auto;
}

.my-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    height: 96px;
}

.east span, .my-info span {
    font-size: 16px;
    padding: 4px 4px 4px 10px;
}

.west {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.east {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 5px 0;
    height: 100%;
    overflow-y: auto;
}

.south {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

/* 竖屏样式 */
@media screen and (orientation: portrait) {
    .west {
        width: 100%;
    }
    .east {
        width: 100%;
    }
    #GAMING {
        height: fit-content;
    }
}

/* 横屏样式 */
@media screen and (orientation: landscape) {
    .west {
        width: 50%;
        height: 97vh;
    }
    .east {
        flex: 1;
        height: 97vh;
    }
    #GAMING {
        height: 100vh;
        overflow-y: auto;
    }
    .title, .south div {
        font-size: 16px;
    }
}
