#GAMING {
    position: relative;
    background-color: #357e5b;
    color: white;
    width: 100vw;
    max-width: 1200px;
    min-width: 375px;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.layout {
    width: 100%;
}

.btn, .south span {
    font-size: 20px;
}

.ant-switch-checked {
    background-color: cornflowerblue !important;
}

.title {
    font-size: 20px;
    margin-top: 10px;
}

.small-btn {
    width: fit-content;
    height: fit-content;
}

.place {
    padding: 10px;
    margin: 0;
}

.place-sit {
    background-color: #357e5b;
    color: white;
    border: 0;
    width: fit-content;
    height: fit-content;
}

.my-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.east span, .my-info span {
    font-size: 18px;
    padding: 4px 4px 4px 10px;
}

.west {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.east {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 5px 0;
    height: 100%;
    overflow-y: auto;
}

/* 竖屏样式 */
@media screen and (orientation: portrait) {
    .west {
        width: 100%;
    }
    .east {
        width: 100%;
    }
    .my-info {
        align-items: center;
    }
    #GAMING {
        height: fit-content;
    }
}

/* 横屏样式 */
@media screen and (orientation: landscape) {
    .west {
        width: 29%;
        height: 97.5vh;
    }
    .east {
        flex: 1;
        height: 97.5vh;
    }
    #GAMING {
        height: 100vh;
        overflow-y: auto;
    }
    .my-info {
        align-items: flex-start;
    }
    .my-info span, .title, .south span {
        font-size: 18px;
    }
}