#HOME {
    position: relative;
    background-color: #357e5b;
    color: white;
    width: 100vw;
    /*max-width: 1200px;*/
    min-width: 375px;
    height: fit-content;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-image: url('../../assets/images/bg/cover1.png'); /* 替换 'image.jpg' 为你的背景图片的路径 */
    background-size: cover; /* 控制背景图片的尺寸，cover 表示图片会被拉伸或压缩以填充整个元素 */
    background-position: center; /* 控制背景图片的位置，center 表示图片会在元素的中心位置 */
}

#HOME .layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#HOME .btn {
    width: 300px;
    height: 60px;
    font-size: 24px;
    margin: 24px 0;
}

#HOME .list-item {
    width: 80%;
    margin: 0 auto;
}

#HOME .ant-list-item-meta-avatar, .ant-list-item-meta-avatar img, .ant-list-item-meta-avatar span {
    width: 50px !important;
    height: 50px !important;
}

#HOME .ant-list-item-meta-description {
    color: white !important;
    font-size: 20px !important;
}

#HOME .small-btn {
    width: 80px;
    height: 40px;
    font-size: 20px;
}

#HOME .ant-drawer-title {
    font-size: 24px !important;
}

.ant-drawer-content-wrapper {
    height: 90% !important;
}

#HOME .list-item span {
    font-size: 24px !important;
    color: white;
}

.input {
    font-size: 24px;
    width: 90vw;
}

#HOME p {
    margin-bottom: 5px;
}

