#REVIEW {
    position: relative;
    /*background-color: #357e5b;*/
    background-color: black;
    color: white;
    width: 100vw;
    /*max-width: 1200px;*/
    min-width: 375px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    background-image: url('../../assets/images/bg/wood_house.png'); /* 替换 'image.jpg' 为你的背景图片的路径 */
    background-size: cover; /* 控制背景图片的尺寸，cover 表示图片会被拉伸或压缩以填充整个元素 */
    background-position: center; /* 控制背景图片的位置，center 表示图片会在元素的中心位置 */
}

#REVIEW .layout {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

#REVIEW .north .btn {
    margin: 10px;
}

#REVIEW .small-btn {
    font-size: 20px;
    width: fit-content;
    height: fit-content;
}

#REVIEW .central,
#REVIEW .south {
    background-color: rgba(255,255,255,0.25);
    border-radius: 15px;
    padding: 5px 10px;
}

#REVIEW .south {
    align-items: flex-start;
}

/*胜利提示*/
#REVIEW .central div {
    font-size: 50px;
    font-family: STHupo, "Cooper Black", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 80px;
    line-height: 80px;
}

#REVIEW .win-evil {
    background: linear-gradient(to bottom right, #e31212, #feb47b); /* 定义渐变色，方向为左上到右下 */
    -webkit-background-clip: text; /* 设置背景裁剪为文字 */
    color: transparent; /* 将文字颜色设置为透明 */
}

#REVIEW .win-civil {
    background: linear-gradient(to bottom right, #3fe312, #7baffe); /* 定义渐变色，方向为左上到右下 */
    -webkit-background-clip: text; /* 设置背景裁剪为文字 */
    color: transparent; /* 将文字颜色设置为透明 */
}

/*总日志*/
#REVIEW .south span {
    font-size: 16px;
}

#REVIEW .highlight {
    padding: 0 5px;
}

#REVIEW .highlight-number {
    color: limegreen;
}

#REVIEW .highlight-player {
    color: black;
    background-color: yellow;
}

#REVIEW .highlight-skill {
    color: deepskyblue;
}

#REVIEW .highlight-skill-result {
    color: black;
    background-color: greenyellow;
}

#REVIEW .highlight-severe {
    color: red;
}

#REVIEW .highlight-nominate {
    color: orange;
}

#REVIEW .highlight-vote {
    color: orchid;
}
